■ 火影忍者(Naruto)的遊戲規範(rules)
──────────────────────────────
⊙ 本MUD可適當地使用機器人練功，但須以「指令簡單」、「減少
   系統負擔」、「 8 小時內有回應」為前提，如捉到「不知道在
   做什麼的」的機器人，將予以砍檔論。

⊙ 本MUD並不承諾保障robot 的安全，請自已妥善做好安全措施。

⊙ 本MUD充許同一時間同一IP連線最多三隻角色。

⊙ 嚴禁利用 Bug 牟利，情節嚴重者抓到將砍檔，請確實回報，將視
   Bug 情況，給予視當獎勵。  

⊙ 禁止無故騷擾別人，如「洗畫面」、「講述猥褻言語」等，情節嚴
   重者抓到砍檔論。

⊙ 不鼓勵偷竊、搶劫、謾罵、侮辱、粗言粗語等行為，告訴乃論，
   情節嚴重且無法達成和解者抓到殺檔案。

⊙ 巫師調處若有不公、牟利特定玩家、或惡意傷害玩家權益，可向
   最高管理者申訴，申訴者自負舉證之責任。

⊙ 本MUD有權隨意修改或刪除使用者資料檔。

⊙ 本MUD說倒就倒，不另行通知。

⊙ 上述規範未必就這幾項，本MUD有權隨意增刪規範，不另行通知。

⊙ 若不同意上列規範者，請勿任意遊玩本MUD，以免個人權益損失。
